.FieldArea {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 85% 15%;
}
.FieldTextArea {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.TextAreaContainer {display: block;
    width: 50%;
    height: 90%;
}